
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Privacy Policy</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h2 class="title text-center">Privacy Policy</h2>
                </div>

                <div class="card-body">
                    <p>
                        1. <b>Chandnicreativeart.com</b> is fully committed towards protection of your privacy and is particular about what personal information is being collected.
                    </p>
                    <p>
                        2. We try to minimize the sensitive personal information being collected about visitors to the website as well as prospective buyers from the website.<br /> The amount of information collected solely depends on the kind of interaction the visitor does with the website.
                    </p>
                    <p>
                        3. Whatever data is being collected is aimed to be used to better the user experience and interaction while navigating and purchasing from the website and for analyzing website traffic for promotion purposes, identify trends and other analytic purposes, not limited to forecasting aimed at customizing and improving the website
                    </p>
                    <p>
                        4. We do not share any sensitive information with any other entity not relevant to either of parties.
                    </p>
                    <p>
                        5. Provisions have been made where on registering and subscribing to the website, you would receive notifications on your Email ID. You can at any time unsubscribe and remove your Email ID from the mailing list.
                    </p>
                    <p>
                        6. Privacy policies might incur changes from time to time and can only be addressed by the Artist.
                    </p>
                    <p>
                        7. You are always welcome to cast away any concern regarding your privacy by reaching out to us at <b>chandnicreativeart@gmail.com</b> and have your queries sorted out.
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>













