@model IEnumerable<ArtGalleryECommerce.Model.UserDTO.ProductListDto>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Products</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- ASIDE -->
            <div id="aside" class="col-md-3">

                <!-- aside widget -->
                <div class="aside" id="divItemGroupFilter">
                    <h3 class="aside-title">Type of Paintings</h3>
                    @foreach (var item in ViewBag.ItemGroups)
                    {
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="@item.GroupId" name="@item.GroupId">
                                @item.GroupName
                            </label>
                        </div>
                    }
                    @*<div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                                Sketch Painting
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                                Art Painting
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                                Illustration Painting
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">
                                Character Painting
                            </label>
                        </div>*@
                </div>
                <!-- aside widget -->
                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">Price</h3>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            Rs. 1000 to Rs. 2500
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            Rs. 2500 to Rs. 5000
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            Rs. 5000 to Rs. 7500
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            Rs. 7500 to Rs. 10000
                        </label>
                    </div>
                </div>
                <!-- aside widget -->
                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">Customer Ratings</h3>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            4★ &amp; above
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            3★ &amp; above
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            2★ &amp; above
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            1★ &amp; above
                        </label>
                    </div>
                </div>
                <!-- aside widget -->
                <!-- aside widget -->
                <div class="aside">
                    <h3 class="aside-title">Sizes</h3>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            600X600
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            1000x1000
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            1500x1500
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">
                            2000x2000
                        </label>
                    </div>
                </div>
                <!-- aside widget -->
                <!-- aside widget -->
                @*<div class="aside">
                    <h3 class="aside-title">Top Rated Product</h3>
   
                    <div class="product product-widget">

                        <div class="product-thumb">  <img src="~/UserTemplate/img/product01.jpg" alt="" /> </div>
                        <div class="product-body">
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <h3 class="product-price">Rs. 3222.50 <del class="product-old-price">Rs. 4445.00</del></h3>
                            <div class="product-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o empty"></i> </div>
                        </div>
                    </div>
                   
                    <div class="product product-widget">
                        <div class="product-thumb"> <img src="~/UserTemplate/img/thumb-product01.jpg" alt=""> </div>
                        <div class="product-body">
                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                            <h3 class="product-price">Rs. 3222.50</h3>
                            <div class="product-rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o empty"></i> </div>
                        </div>
                    </div>
                   
                </div>*@
               
            </div>
            <!-- /ASIDE -->
            <!-- MAIN -->
            <div id="main" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="pull-left">
                        <div class="sort-filter">
                            <span class="text-uppercase">Sort By:</span>
                            <ul class="list-inline">
                                <li><a class="badge" href="">Relevance</a></li>
                                <li><a href="">Price</a></li>
                                <li><a href="">Rating</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="page-filter">
                            <span class="text-uppercase">Show:</span>
                            <select class="input">
                                <option value="0">10</option>
                                <option value="1">20</option>
                                <option value="2">30</option>
                            </select>
                        </div>
                        <ul class="store-pages">
                            <li><span class="text-uppercase">Page:</span></li>
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /store top filter -->
                <div id="divProductListItem">
                    @Html.Partial("_PartialProductList")
                </div>


            </div>
            <!-- /MAIN -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-to-cart2').on('click', function () {
            //Scroll to top if cart icon is hidden on top
            $('html, body').animate({
                'scrollTop': $(".shopping-cart").position().top
            });
            //Select item image and pass to the function
            //var itemImg = $(this).parent().find('img').eq(0);
            var itemImg = $(this).closest('.items').find('img').eq(0);
            flyToElement($(itemImg), $('.shopping-cart'));
        });
    });
    function flyToElement(flyer, flyingTo) {
        var $func = $(this);
        var divider = 3;
        var flyerClone = $(flyer).clone();
        $(flyerClone).css({ position: 'absolute', top: $(flyer).offset().top + "px", left: $(flyer).offset().left + "px", opacity: 1, 'z-index': 1000 });
        $('body').append($(flyerClone));
        var gotoX = $(flyingTo).offset().left + ($(flyingTo).width() / 2) - ($(flyer).width() / divider) / 2;
        var gotoY = $(flyingTo).offset().top + ($(flyingTo).height() / 2) - ($(flyer).height() / divider) / 2;

        $(flyerClone).animate({
            opacity: 0.4,
            left: gotoX,
            top: gotoY,
            width: $(flyer).width() / divider,
            height: $(flyer).height() / divider
        }, 700,
            function () {
                $(flyingTo).fadeOut('fast', function () {
                    $(flyingTo).fadeIn('fast', function () {
                        $(flyerClone).fadeOut('fast', function () {
                            $(flyerClone).remove();
                        });
                    });
                });
            });
    }
</script>
<script>
    $(document).ready(function () {
        $('.add-to-cart').on('click', function () {
            var par = $(this).data('pid');
            if (AddToCart(par)) {
                var cart = $('.shopping-cart');
                var imgtodrag = $(this).closest('.items').find("img").eq(0);
                if (imgtodrag) {
                    var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.5',
                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 10,
                            'left': cart.offset().left + 10,
                            'width': 75,
                            'height': 75
                        }, 1000, 'easeInOutExpo');

                    setTimeout(function () {
                        cart.effect("shake", {
                            times: 2
                        }, 200);
                    }, 1500);

                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }
            }

        });
    })
</script>
<script>
    function AddToCart(par) {
        if (!localStorage.getItem("itemsArray")) {
            localStorage.setItem("itemsArray", "[]");
        }
        //var oldItems = JSON.parse(localStorage.getItem("itemsArray"));
        var oldItems = JSON.parse(localStorage.getItem('itemsArray')) || [];

        //var newItem = {
        //    'ItemId': par,
        //};
        var exist = false;
        for (var i = 0; i < oldItems.length; i++)
            if (oldItems[i] == par) {
                exist = true;
                break;
            }
        if (!exist) {
            oldItems.push(par);
            exist = true;
        }
        else {
            alert("Only You Can Add One Painting per Piece");
            exist = false;
        }
        localStorage.setItem("itemsArray", JSON.stringify(oldItems));
        $("#spnQuantity").text(oldItems.length);
        return exist;
    }
</script>
<script type="text/javascript">
    function updateTextArea() {
        var allVals = [];
        $('#divItemGroupFilter :checked').each(function () {
            allVals.push(parseInt($(this).val()));
        });
        if (allVals.length > 0) {
            $.ajax({
                url: '/User/ProductList',
                type: 'POST',
                cache: false,
                data: { lstFilter: allVals },
            }).done(function (result) {
                $('#divProductListItem').html(result);
            });
        }
        else {

        }
    }
    $(function () {
        $('#divItemGroupFilter input').click(updateTextArea);
        updateTextArea();
    });


    function AddToWishList(par) {
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '/User/AddToWishList',
            data: { ItemId: par },
            success: function (res) {
                if (res == null || res == "") {
                    alert('You can add to wishlist after Login');
                    window.location.href = '/User/UserLogin';
                }
                else {
                    if (!localStorage.getItem("wishListArray")) {
                        localStorage.setItem("wishListArray", "[]");
                    }
                    var oldItems = JSON.parse(localStorage.getItem('wishListArray')) || [];
                    var exist = false;
                    for (var i = 0; i < oldItems.length; i++)
                        if (oldItems[i] == par) {
                            exist = true;
                            break;
                        }
                    if (!exist) {
                        oldItems.push(par);
                        exist = true;
                        alert('You added to WishList');
                    }
                    else {
                        alert("Only You Can Add One Painting per Piece in WishList");
                        exist = false;
                    }
                    localStorage.setItem("wishListArray", JSON.stringify(oldItems));
                    return exist;
                }
            }
        })
    }
</script>
