
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Terms &amp; Conditions</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h2 class="title text-center">Terms And Conditions</h2>
                </div>

                <div class="card-body">
                    <p>
                        For all visitors to the chandnicreativeart.com website and prospective buyers ordering artwork from chandnicreativeart.com website, it is mandated to acknowledge, are bound by and comply to the terms and conditions below-
                    </p>
                    <p>
                        1. All artworks listed in the website are one-of-a kind 100% hand-made genuine products.
                    </p>
                    <p>
                        2. artwork once ordered would be delivered by a reputed courier service. The time frame of delivery might vary depending on delivery location and on other uncontrollable/unforeseen circumstances.
                    </p>
                    <p>
                        3. An authentication certificate duly signed by the artist would accompany the artwork which would be deemed as a major but not the solitary proof of genuineness of artwork.
                    </p>
                    <p>
                        4. For purchasing the artwork, the prospective buyer has to bear any additional charges not limiting to taxes/service charges, up and above the listed price of the artwork. Please check the additional tariffs with relative to the location to which the artwork has to be delivered before ordering any artwork.
                    </p>
                    <p>
                        5. Each artwork is an intellectual property of the artist and its entire copyright lies solely with the artist. Any form and method of replication, reproduction and duplication of actual artwork or part of artwork or intellectual content on the website by anyone but the artist for commercial/non-commercial gains is strictly prohibited and any attempt to do so would be considered as a copyright violation. We have zero tolerance for piracy and copyright infringement.
                    </p>
                    <p>
                        6. The artist reserves the right to cancel the order during any time of transaction or prior to delivery of artwork without providing any reason whatsoever. Refund of the amount not greater than the listed price of the artwork shall be provided if the transaction is rolled back.
                    </p>
                    <p>
                        7. While utmost care has been taken to provide accurate details about the artwork, it is understood that the digital image of artwork on website might slightly vary with the actual hand-made artwork in some aspects. No complaints shall be entertained on this.
                    </p>
                    <p>
                        8. The terms and conditions outlined above are subject to change and update by the artist at any time.
                    </p>
                    <p>
                        9. chandnicreativeart.com accepts requests for commissioned paintings as well.If interested to commission a painting, reach out at (chandnicreativeart@gmail.com).
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>
