@model ArtGalleryECommerce.UI.Models.ItemGroupModel
@{
    ViewBag.Title = "ItemGroup";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/highlightjs/styles/github.css" rel="stylesheet">
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="~/Content/roundButton.css" rel="stylesheet" />
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/AdminTemplate/themepixels.me/bracketplus/1.4/app/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script src="~/Scripts/dirPagination.js"></script>
<script src="~/CustomScripts/ItemGroup.js"></script>
<style>

    form.submitted .ng-invalid {
        border: 1px solid #f00;
    }
</style>
<style>
    .textBoxForSearch {
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }

    .textBoxForSearchs {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .loader {
        left: 50%;
        margin-left: -4em;
    }
</style>

<div class="br-mainpanel" ng-app="divItemGroupApp" ng-controller="divItemGroupController">
    @*<alert type="danger" close="closeAlert()" ng-if="show" data-dismiss="alert"
               dismiss-on-timeout="2000">
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong class="d-block d-sm-inline-block-force">Well done!</strong> You successfully read this important alert message.
            </div>
        </alert>*@
    @*<div id="divSpinner" class="loader" style="display: none"> <img src="~/fonts/giphy.gif" /></div>*@


    <form name="ItemGroupForm" required>
        <div id="modalItemGroup" class="modal fade">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-y-20 pd-x-25">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Item Group</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-layout form-layout-5">
                        <div class="row">
                            <input type="hidden" name="GroupId" ng-model="GroupId" />
                            <label class="col-sm-2 form-control-label"><span class="tx-danger">*</span> Group Name:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="Enter GroupName" name="GroupName" ng-model="GroupName" required />
                                <span style="color:red" ng-if="!ItemGroupForm.GroupName.$valid">
                                    Please Provide Your Group Name
                                </span>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-2 form-control-label"><span class="tx-danger">*</span> Group Desc:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="Enter GroupDesc" name="GroupDesc" ng-model="GroupDesc" rows="2" required />
                                <span style="color:red" ng-if="!ItemGroupForm.GroupDesc.$valid">
                                    Please Provide Your Group Desc
                                </span>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-2 form-control-label"> Group Image:</label>
                            <div class="col-sm-10 mg-t-10 mg-sm-t-0">
                                <input type="file" id="flGroupImage" class="form-control" name="GroupImage" file-model="GroupImage" />
                            </div>
                        </div>
                        <!-- row -->
                        <div class="row mg-t-30">
                            <div class="col-sm-8 mg-l-auto">
                                <div class="form-layout-footer">
                                    <button class="btn btn-info" type="button" id="btnSaveItemGroup" data-loading-text="Loading..." ng-disabled="ItemGroupForm.$invalid" ng-click="SaveItemGroup()">Save</button>
                                    <button class="btn btn-secondary" data-dismiss="modal" ng-click="resetAll();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="br-pagetitle">
        <div>
            <h4>ITEM GROUP DATATABLE </h4>
            <p class="mg-b-0">Searching, Ordering and Paging goodness will be immediately added to the table.</p>
        </div>
        <div class="selected">
            <button class="btn btn-info modal-effect" data-effect="effect-newspaper" ng-click="resetAll();"><i class="fa fa-plus"></i> Add Item Group</button>
        </div>
    </div>

    <div class="br-pagebody">
        <input type="text" ng-model="search" class="textBoxForSearch textBoxForSearchs form-control" placeholder="Click Here For Search....">
        <div class="table-responsive">
            <table class="table table-bordered table-colored table-dark">
                <thead>
                    <tr>
                        <th class="wd-15p">Group Name</th>
                        <th class="wd-20p">Description</th>
                        <th class="wd-15p">Group Image</th>
                        <th class="wd-10p">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="dataItemGroup in dataItemGroups |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                        <td>{{dataItemGroup.GroupName}}</td>
                        <td>{{dataItemGroup.GroupDesc}}</td>
                        <td><img src="~/UploadImages/{{dataItemGroup.GroupImage}}" height="50" width="50" /></td>
                        <td>
                            <button class="btn btn-info btn-circle" ng-click="EditItemGroup(dataItemGroup)"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-circle" ng-click="DeleteItemGroup(dataItemGroup.GroupId)"><i class="fa fa-trash-alt"></i></button>
                        </td>
                    </tr>

            </table>

            @*<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>*@

             <dir-pagination-controls max-size="3"
                                         direction-links="true"
                                         boundary-links="true">
                </dir-pagination-controls> 




        </div>

    </div>
</div>
